%li.trophy.well
  .trophy-data
    = link_to trophy_path(trophy.key) do
      %i.img-polaroid.icon-trophy
    %h4= link_to trophy.title, trophy_path(trophy.key)
  - if trophy.personal_description
    - winners = trophy.winners.all
    .winners-block
      %p 
        = winners.count
        = t 'person', count: winners.count
        who #{trophy.personal_description}
      %ul.politician-winners.winners
        - winners[0..25].each do |winner|
          %li.winner
            %i.img-polaroid.icon-user(title="#{winner.name}")
        - if winners.size > 25
          %li.more-winners
            = link_to '...', trophy_path(trophy.key)
  - if trophy.party_description
    - winners = trophy.party_winners.all
    .winners-block
      %p 
        = winners.count
        = t 'party', count: winners.count
        who #{trophy.party_description}
      %ul.party-winners.winners
        - winners[0..25].each do |winner|
          %li.winner
            %i.img-polaroid.icon-group(title="#{winner.name}")
        - if winners.size > 25
          %li.more-winners
            = link_to '...', trophy_path(trophy.key)
