%li.trophy.well
  .trophy-data
    = link_to trophy_path(trophy.key) do
      %i.img-polaroid.icon-trophy
    %h4= link_to trophy.title, trophy_path(trophy.key)
    = trophy.description
  %ul.winners
    - trophy.winners[0..25].each do |winner|
      %li.winner
        %i.img-polaroid.icon-user(title="#{winner.name}")
    - if trophy.winners.all.size > 25
      %li.more-winners
        = link_to '...', trophy_path(trophy.key)
